@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    font-family: "Poppins", sans-serif;

}
body{
    background-image: url(/BG1.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    max-height: 100vh;
}